<ion-header>
  <ion-toolbar>
    <ion-title>course-confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-map *ngIf="(coordinates|async) as coords" [coords]="coords"></app-map>
  <ion-grid>
    <ion-row style="padding-top:40%;">
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <div style="display: table;height:120%; overflow: hidden;background-color: white">
          <div style="display: table-cell; vertical-align: middle;">
            <p>Voulez-vous appeler un SAM à votre position ?</p>
            <div>
              <ion-button block color="primary" [routerLink]="['/course-ongoing']" style="width:60%">Oui</ion-button>
            </div>
            <div>
              <ion-button block color="light" (click)="goback()" style="width:60%">Non</ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
