<ion-content >
  <ion-grid>
    <ion-row class="ion-align-items-center" style="padding-top:8%;">
      <ion-col size="2">
        <div class="padding">
          <br><br><br><br>
        <ion-text>07/01/21</ion-text>
        <br><br><br>
        <ion-text>07/01/21</ion-text>
        <br><br><br>
        <ion-text>06/01/21</ion-text></div>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <div class="padding">
          <div class="logo">
            <ion-title>Historique</ion-title>
            <br><br><br>
            <ion-text>Jean-Michel Loufard</ion-text>
            <br><br><br>
            <ion-text>Jean-Michel Loufard</ion-text>
            <br><br><br>
            <ion-text>Jean-Michel Loufard</ion-text>
          </div>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="padding">
          <br><br><br><br>
        <ion-text><i>{{ distance }}m - {{ time }}min</i></ion-text>
        <br><br><br>
        <ion-text>280m-3min</ion-text>
        <br><br><br>
        <ion-text>280m-3min</ion-text></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>