<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>

  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Jean-Michel Loufard</ion-title>
</ion-toolbar>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
    </ion-toolbar>
  </ion-header>
  <ion-content id="main">
    <ion-list>
      <ion-item detail>
        <ion-button fill="clear" (click)="goToClientHome()">Accueil client</ion-button>
      </ion-item>
      <ion-item detail>
        <ion-button fill="clear" (click)="goToDriverHome()">Accueil chauffeur</ion-button>
      </ion-item>
      <ion-item detail>
        <ion-button fill="clear" (click)="goToAccount()">Mon compte</ion-button>
      </ion-item>
      <ion-item detail>
        <ion-button fill="clear" (click)="goToHistory()">Historique des courses</ion-button>
      </ion-item>
      <ion-item detail>
        <ion-button fill="clear" (click)="goToParams()">paramètres (inutilisé)</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content >

  <div class="padding">
    <div class="logo">
      <ion-img src="https://i.imgur.com/EMx6uVW.png" style="height:300px"></ion-img>
      
    </div>

    <form [formGroup]="login" (ngSubmit)="onLogin()">
      <mat-error *ngIf="this.login.controls.email.invalid && this.login.controls.email.touched">
        {{  getErrorMessageLogin() }}
      </mat-error>
      <ion-item color="light" expand="block" shape="round" fill="outline">
        <ion-input [(ngModel)]="credentials.login_user" color="dark" type="text" name="email" placeholder="Adresse email" formControlName="email"></ion-input>

      </ion-item >
      <br>
      <mat-error *ngIf="this.login.controls.password.invalid && this.login.controls.password.touched">
        {{  getErrorMessagePassword() }}
      </mat-error>
      <ion-item color="light" expand="block" shape="round" fill="outline">
        <ion-input  [(ngModel)]="credentials.password_user" color="dark" type="password" placeholder="Mot de passe" name="password" formControlName="password"></ion-input >
        </ion-item >
        <br>
      <ion-button color="tertiary" expand="block" shape="round" type="submit" [disabled]="!login.valid">Connexion</ion-button >
      <br>
      <p style="text-align: center; font-size: 20px; margin: 30px;">Inscription</p>
    </form>
  </div>
</ion-content>
