<ion-content>

  <div class="padding">
    <div class="logo">
      <ion-img src="https://i.imgur.com/EMx6uVW.png" style="height:300px"></ion-img>
      
    </div>

    <form [formGroup]="login" (ngSubmit)="onLogin()">
      <mat-error *ngIf="this.login.controls.email.invalid && this.login.controls.email.touched">
        {{  getErrorMessageLogin() }}
      </mat-error>
      <ion-item color="light" expand="block" shape="round" fill="outline">
        <ion-input [(ngModel)]="credentials.login_user" color="dark" type="text" name="email" placeholder="Adresse email" formControlName="email"></ion-input>

      </ion-item >
      <br>
      <mat-error *ngIf="this.login.controls.password.invalid && this.login.controls.password.touched">
        {{  getErrorMessagePassword() }}
      </mat-error>
      <ion-item color="light" expand="block" shape="round" fill="outline">
        <ion-input  [(ngModel)]="credentials.password_user" color="dark" type="password" placeholder="Mot de passe" name="password" formControlName="password"></ion-input >
        </ion-item >
        <br>
      <ion-button color="tertiary" expand="block" shape="round" type="submit" [disabled]="!login.valid">Connexion</ion-button >
      <br>
      <p style="text-align: center; font-size: 20px; margin: 30px;">Inscription</p>
    </form>
    <ion-button color="light" expand="block" shape="round" fill="outline" routerLink="/map2">Connexion</ion-button >
      <br>
      <ion-button color="primary" expand="block" shape="round" routerLink="/SignUp">Inscription</ion-button >
      <br>
      <ion-button color="primary" expand="block" shape="round" routerLink="/mapdriver">Chauffeur</ion-button >
      <br>
      <ion-button color="primary" expand="block" shape="round" routerLink="/mapclient">Client</ion-button >
      <br>
      <ion-button color="primary" expand="block" shape="round" routerLink="/history">Historique</ion-button >
  </div>
</ion-content>
