<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      Tab 1
    </ion-title>

  </ion-toolbar>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput
           matGoogleMapsAutocomplete
           [country]="de"
           (onAutocompleteSelected)="onAutocompleteSelected($event)"
           (onLocationSelected)="onLocationSelected($event)">
  </mat-form-field>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <div id="map"></div>

</ion-content>
