<div id="mapdriver"></div>
<div style="position: absolute; bottom: 0px; width: 100%" class="footer" >
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img src="https://i.imgur.com/EMx6uVW.png" style="width:66%;"></ion-img>
      </ion-col>
      <ion-col size="8">
        <h2 *ngIf="!isOnline">Vous êtes hors ligne </h2>
        
        <h2 *ngIf="isOnline">Vous êtes en ligne </h2>
        <p *ngIf="isOnline" style="font-size: 20px;">En attente d'un client</p>

        <br>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list style="text-align:center;" *ngIf="!isOnline && !isLoading">
    <ion-button  style="text-align: center;" size="large" color="secondary" (click)="connectDriver()">Go</ion-button>
  </ion-list>
  <ion-list style="text-align:center;" *ngIf="isLoading">
    <ion-spinner name="crescent" ></ion-spinner>
  </ion-list>
  <ion-list style="text-align:center;" *ngIf="isOnline && !isLoading">
    <ion-button style="text-align: center;" size="large" color="secondary" (click)="disconnectDriver()">Hors ligne</ion-button>
  </ion-list>
</div>

  <!--<ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img src="https://i.imgur.com/EMx6uVW.png" style="width:66%;"></ion-img>
      </ion-col>
      <ion-col size="3">
        <p>Client</p>
        <p><i>{{ distance }}m - {{ time }}min</i></p>
        <br>
      </ion-col>
      <ion-col size="2">
        <ion-button color="primary" shape="round">Client récupéré</ion-button>
        <br>
        <ion-button color="primary" shape="round">Client rentré      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>-->