<ion-header>
  <ion-toolbar>
    <ion-title>Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-map *ngIf="(coordinates|async) as coords" [coords]="coords"></app-map>
  <div style="position: absolute; bottom: 0px; width: 100%" class="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="https://i.imgur.com/EMx6uVW.png" style="width:66%;"></ion-img>
        </ion-col>
        <ion-col size="6">
          <p>Client</p>
          <p><i>{{ distance }}m - {{ time }}min</i></p>
          <br>
    <ion-button color="primary" shape="round" >Chauffeur arrivé</ion-button >
    <br>
    <ion-button color="primary" shape="round" >Chauffeur reparti</ion-button >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-content padding>
  <div #mapElement class="mapclient"></div>
</ion-content>